/* Dark mode styles */
:root {
  color-scheme: dark light;
  --dark-color: hsl(0 0% 10%);
  --light-color: hsl(0 0% 97%);

}

[data-mode="dark"] {
  color-scheme: dark;
}

[data-mode="light"] {
  color-scheme: light;
}

html, a, .article__card, .chevron--img {
  color: light-dark(var(--dark-color), var(--light-color));
  background-color: light-dark(var(--light-color), var(--dark-color));
}

.section__name, .article__card {
  border-block-end: 0.05rem solid light-dark(var(--dark-color), var(--light-color));
}
.sections:nth-child(2) {
  border-top: 0.05rem solid light-dark(var(--dark-color), var(--light-color));
}
