@use 'layout.scss';
// @use '.scss';
.main {
  // height: 62vh;
  
  & input {
    @extend %flex;
    width: 90%;
    margin:1rem auto;
    padding: 0.5rem 0.3rem;
    border: none;
    border-radius: 0.1rem;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.6rem;
  }
     
  .section {

    &__name {
      @extend %flexSpB;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem;
      list-style: none;
      cursor: pointer;   
      border-block-start: 0.05rem solid rgba(0, 0, 0, 0.4); 
    
      // &::after {
      //   content: url('chevronicon.svg');
      //   transition: transform 400ms;
      //   // width: 1rem;
      //   height: 1.2rem;
      // }  
      & span {
        @extend %flex;
        align-items: center;
        padding: 0.5rem;

        & img {
          width: 0.7rem;
        }
        
        & .section--title {
          text-transform: uppercase;
          font-size: 0.9rem;
          font-weight: 700;
        }
      }    
    }

    &__list:last-child {
      border-block-end: 0.05rem solid rgba(0, 0, 0, 0.4);
    }
  }
}

.articles__list {
  display: none;
}

.showActive {
  display: block;
}

.rotate {
  transform: rotate(90deg);
}

.article {
  
  &__card{
    @extend %gridColumnTwo;
    padding: 1rem 0.5rem;
    // margin-block: 1rem;
    background-color: white;
    border-block-start: 0.05rem solid rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    // overflow: hidden;
    // display: none;
  }

  &__img {
    width: 100%;
    // height: 6rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }

  &--ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
  }
}

// .section__name::after.active {
//   transform: rotate(90deg);
// }
