
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 9rem;
  // text-align: center;
}

.logo {
  width: 3rem;
  transform: scale(1);
  animation: growLogo 2s ease forwards;
}

.title {
  font-family: 'Georgia', serif;
  font-size: 1.5rem;
  color: #333;
  margin-top: 2rem;
  opacity: 0;
  animation: fadeInTitle 2s ease forwards;
  animation-delay: 1.5s;
}

/* Animations */
@keyframes growLogo {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
