<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/src/assets/images/logo.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/src/styles/style.scss">
  <title>OnboardingThree - Newsify</title>
</head>
<body>

  <div class="onboarding-container">
    <div class="phone-frame">
      <img src="/src/assets/images/onboardingThree.svg" alt="Newsify Logo" class="logo">
    </div>
    <div class="onboarding-content">
      <h2 class="headline">Enhance your News
        Journey Now!</h2>
      <p class="description">
        Be part of our dynamic community and contribute your insights and participate in enriching conversations.
      </p>
      <div class="pagination">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot active"></span>
      </div>
      <div class="buttons">
        <button class="skip-button">Skip</button>
        <button class="continue-button">Continue</button>
      </div>
    </div>
  </div>

  <script type="module" src="onboardingThree.js"></script>
</body>
</html>
